.addbutton{
  background:linear-gradient(135deg,#153677,#4e085f);
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
.addbutton:hover {
  background:rgb(27, 255, 2);
} 

ul{
  width: 100%;
  list-style: none;
  padding: 0px;
}
.container {
  list-style: none;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  border: #153677 solid;
  border-radius: 10px;
  height: 60px;
  width: 100%;

}

.right {
  flex-grow: 1;
  margin-top: 13px;
  text-align: start;
}

.left{
  display: flex;
  gap: 10px;
}

.del:hover {
  background:rgb(255, 2, 44);
  color: white;
  padding: 10px;
  transition: background-color 0.3s;

} 
.edit{
  padding: 10px;
}
.del{
  padding: 10px;
}
.edit:hover {
  background:rgb(2, 200, 255);
  color: white;
  padding: 10px;
  transition: background-color 0.3s;
} 
